@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Varela+Round');

* {
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0;
}

#container {
  padding-left: 20px;
}

/* header styles */
header {
  padding: 30px 15px;
  margin-bottom: 50px;
  color: #fff;
  background-color: #DB3A34;
}

header h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

header h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 0;
}

/* displaying products */
div.product {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px dashed black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

div.product:hover {
  opacity: 0.6;
}

div.product img {
  height: 300px;
  display: block;
  margin: auto;
}

/* showing results */
section#results {
  width: 900px;
}

div.result {
  display: inline-block;
  width: 219px;
  height: 219px;
  border: 1px dashed black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin: 2px;
}

div.result img {
  width: 219px;
  display: block;
}

div.result p {
  font-size: .7em;
  text-transform: uppercase;
}

/* making charts */
canvas#results-chart {
  max-width: 900px;
  max-height: 500px;
  margin: 50px 0;
}

/* https://coolors.co/4b4e50-fdfdff-cbcabf-709ba6-637787
